doctype html
html 
  head 
    title varad dance academy
    
    block scripts
    block style  
            
  body 
     nav#navbar 
      ul
        div#logo
           img(src="static/img/bg1.png", alt="")
          
        li #[a(href="/") home]
        li #[a(href="/") about]
        li #[a(href="/") services]
        li #[a(href="/") class info]
        li #[a(href="/contact") contact us]
     block content 
footer#footer   
     |  Copyright varaddanceacademy all rights are reverse       